.home-title-font {
	font-size: 10rem;
}

@media screen and (max-width: 720px) {
	.home-title-font {
		font-size: 5rem;
	}
}

.project-summary-container {
	height: 100vh;
}

.project-summary-jumbotron {
	background: transparent !important;
	height: 40rem;
	text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 720px) {
	.project-summary-jumbotron {
		background: transparent !important;
		height: 40rem;
		text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.9);
	}
}

.project-name-p {
	font-size: 1.5rem;
}

@media screen and (max-width: 720px) {
	.project-name-p {
		font-size: 1rem;
	}
}

body {
	background: linear-gradient(-45deg, #d3869b, #fb4934, #f38019, #fabd2f, #b8bb26, #83a598, #8ec07c);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
