.home-title-font {
	font-size: 10rem;
}

@media screen and (max-width: 720px) {
	.home-title-font {
		font-size: 5rem;
	}
}

.project-summary-container {
}

@media screen and (max-width: 720px) {
	.project-summary-jumbotron {
		background: transparent !important;
		height: 12rem;
	}
}

.project-name-p {
	font-size: 1.5rem;
}

.initials-text-bg-d0 {
	padding: 0.1rem 3rem;
	background: rgba(40, 40, 40, 0.9);
}

.detailed-title-text-bg-d0 {
	padding: 0.2rem 1rem;
	background: rgba(40, 40, 40, 0.9);
}

@media screen and (max-width: 720px) {
	.project-name-p {
		font-size: 1rem;
	}
}

.content-skip {
	height: 3rem;
}

@media screen and (max-width: 720px) {
	.content-skip {
		height: 0.5rem;
	}
}
