body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

tt,
code,
pre {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
}

@media only screen and (max-device-width: 736px) {
	main {
		padding: 0;
	}
}

::selection {
	background: #f38019;
}

pre {
	padding: 1em;
	border: 0;
}

a {
	color: #d3869b;
}

a:active,
a:visited {
	color: #b16286;
}

blockquote {
	border-left: 1px solid #bdae93;
	margin: 0.5em 1em;
	padding: 1em 1em;
}

hr[data-theme="light"] {
	background: #fbf1c7;
	opacity: 50%;
}

hr[data-theme="dark"] {
	background: #282828;
	opacity: 50%;
}

/* Override bootstrap container padding */
.container,
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

/* Gruvbox color scheme */

.theme-bg-base-d0 {
	background: #282828;
}
.theme-bg-base-d0-hard {
	background: #1d2021;
}
.theme-bg-base-d0-soft {
	background: #32302f;
}
.theme-bg-base-d1 {
	background: #3c3836;
}
.theme-bg-base-d2 {
	background: #504945;
}
.theme-bg-base-d3 {
	background: #665c54;
}
.theme-bg-base-d4 {
	background: #7c6f64;
}

.theme-c-base-d0 {
	color: #282828;
}
.theme-c-base-d0-hard {
	color: #1d2021;
}
.theme-c-base-d0-soft {
	color: #32302f;
}
.theme-c-base-d1 {
	color: #3c3836;
}
.theme-c-base-d2 {
	color: #504945;
}
.theme-c-base-d3 {
	color: #665c54;
}
.theme-c-base-d4 {
	color: #7c6f64;
}

.theme-bg-base-l0 {
	background: #fbf1c7;
}
.theme-bg-base-l1 {
	background: #ebdbb2;
}
.theme-bg-base-l2 {
	background: #d5c4a1;
}
.theme-bg-base-l3 {
	background: #bdae93;
}
.theme-bg-base-l4 {
	background: #a89984;
}

.theme-c-base-l0 {
	color: #fbf1c7;
}
.theme-c-base-l1 {
	color: #ebdbb2;
}
.theme-c-base-l2 {
	color: #d5c4a1;
}
.theme-c-base-l3 {
	color: #bdae93;
}
.theme-c-base-l4 {
	color: #a89984;
}

.theme-bg-d-red {
	background: #cc241d;
}
.theme-bg-d-green {
	background: #98971a;
}
.theme-bg-d-yellow {
	background: #d79921;
}
.theme-bg-d-blue {
	background: #458588;
}
.theme-bg-d-purple {
	background: #b16286;
}
.theme-bg-d-aqua {
	background: #689d6a;
}
.theme-bg-d-orange {
	background: #d65d0e;
}
.theme-bg-d-gray {
	background: #928374;
}

.theme-c-d-red {
	color: #cc241d;
}
.theme-c-d-green {
	color: #98971a;
}
.theme-c-d-yellow {
	color: #d79921;
}
.theme-c-d-blue {
	color: #458588;
}
.theme-c-d-purple {
	color: #b16286;
}
.theme-c-d-aqua {
	color: #689d6a;
}
.theme-c-d-orange {
	color: #d65d0e;
}
.theme-c-d-gray {
	color: #928374;
}

.theme-bd-d-red {
	border: 1px solid #cc241d;
}
.theme-bd-d-green {
	border: 1px solid #98971a;
}
.theme-bd-d-yellow {
	border: 1px solid #d79921;
}
.theme-bd-d-blue {
	border: 1px solid #458588;
}
.theme-bd-d-purple {
	border: 1px solid #b16286;
}
.theme-bd-d-aqua {
	border: 1px solid #689d6a;
}
.theme-bd-d-orange {
	border: 1px solid #d65d0e;
}
.theme-bd-d-gray {
	border: 1px solid #928374;
}

.theme-bg-l-red {
	background: #fb4934;
}
.theme-bg-l-green {
	background: #b8bb26;
}
.theme-bg-l-yellow {
	background: #fabd2f;
}
.theme-bg-l-blue {
	background: #83a598;
}
.theme-bg-l-purple {
	background: #d3869b;
}
.theme-bg-l-aqua {
	background: #8ec07c;
}
.theme-bg-l-orange {
	background: #f38019;
}
.theme-bg-l-gray {
	background: #a89984;
}

.theme-c-l-red {
	color: #fb4934;
}
.theme-c-l-green {
	color: #b8bb26;
}
.theme-c-l-yellow {
	color: #fabd2f;
}
.theme-c-l-blue {
	color: #83a598;
}
.theme-c-l-purple {
	color: #d3869b;
}
.theme-c-l-aqua {
	color: #8ec07c;
}
.theme-c-l-orange {
	color: #f38019;
}
.theme-c-l-gray {
	color: #a89984;
}

.theme-bd-l-red {
	border: 1px solid #fb4934;
}
.theme-bd-l-green {
	border: 1px solid #b8bb26;
}
.theme-bd-l-yellow {
	border: 1px solid #fabd2f;
}
.theme-bd-l-blue {
	border: 1px solid #83a598;
}
.theme-bd-l-purple {
	border: 1px solid #d3869b;
}
.theme-bd-l-aqua {
	border: 1px solid #8ec07c;
}
.theme-bd-l-orange {
	border: 1px solid #f38019;
}
.theme-bd-l-gray {
	border: 1px solid #a89984;
}
